input {
  display: block;
  margin-bottom: 10px;
  padding: 6px;
  width: 250px;
}

.invalid {
  border: 2px solid red;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: -8px;
  margin-bottom: 10px;
}
