<div class="home-container">
  <div class="content-wrapper">
    <div class="hero-section">
      <h1 class="welcome-title">Welcome to CV Tech</h1>
      <p class="welcome-subtitle">Your Professional CV Management Platform</p>
      
      <div class="gopher-container">
        <img 
          src="https://go.dev/blog/gopher/header.jpg" 
          alt="Golang Gopher" 
          class="gopher-image"
          onError="this.src='https://raw.githubusercontent.com/golang-samples/gopher-vector/master/gopher.png'"
        >
      </div>
    </div>
  </div>
</div>
